.mission-details {
  width: 600px;
  margin: auto;
}
.mission-details > h3 {
  color: #004ea2;
}
.mission-details > h3:hover {
  color: #3881cf;
}
.tp-section__title {
  color: #3881cf;
}
.tp-section__title:hover {
  color: #004ea2;
}

.about-img img {
  height: 500px;
}
.about-img .aboutus-fram {
  height: 400px;
}

@media only screen and (max-width: 425px) {
  .about-img > img {
    height: 200px;
  }
  .about-img > .aboutus-fram {
    height: 200px;
  }
}
