.page-header {
    position: relative;
    height: 10.875rem;
}
.page-header-image-wrap {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.page-header-image-wrap img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.page-title-wrap {
    height: 100%;
    text-align: center;
    background-color:#1d57968f;
    color: #fff;
}
.page-title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Cabin","Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .0625rem;
    text-transform: uppercase;
}
.breadcrumbs {
    margin-top: 1.25rem;
    font-weight: 300;
    line-height: 1;
}
.breadcrumbs span {
    font-style: italic;
}
.breadcrumbs a {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid;
    color: #fff;
}
.breadcrumbs span {
    font-style: italic;
}
.page-title-wrap .container-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}