
.main_heading-2 {
    margin-bottom: 25px !important;
}
.rental-content .rental-head{
    font-size: 20px;
}
.rental-content  h4 {
    text-align: justify;
}
.rental-content  h4 span {
    font-size: 15px !important;
    font-weight: 400 !important;
    text-align: justify !important;
}
.rental-content  h4 svg {
    color: #008395;
}