.gross_layout {
  position: relative;
}
.padding_layout_1 {
  padding-top: 0px;
  padding-bottom: 70px;
}
.light_silver {
  float: left;
  width: 100%;
}
.light_silver {
  background: #f8f8f8;
}

.full {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.main_heading {
  position: relative;
  margin-bottom: 65px;
}
.text_align_left {
  text-align: left;
}
h2 {
  font-size: 35px;
  color: #000;
  line-height: 36px;
  font-weight: 600;
  position: relative;
  margin-bottom: 15px;
  text-transform: uppercase;
  margin-top: 15px;
}
p.large {
  color: #898989;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 10px 0;
}
/* .main_heading.text_align_left::after {
  margin-left: 0;
} */
/*.main_heading::after {
  content: "";
  display: block;
  margin-top: 20px;
  margin-left: 0;
  width: 80px;
  height: 5px;
  background: #004ea2;
} */
.service_blog_inner {
  margin-bottom: 35px;
  margin-top: 10px;
}
.service_blog_inner h4.service-heading {
  margin: 25px 0 15px 0;
}
h4 {
  font-size: 18px;
  color: #000;
  line-height: 21px;
  font-weight: 600;
  text-transform: none;
  margin: 30px 0 20px 0;
}
.service_blog_inner .icon img {
  width: 65px;
}
.services-row {
  margin-left: 80px;
}
.full>.main_heading {
  width: 60%;
  margin: auto;
  padding: 60px 0;
}

.process-img {
  background-image: url("../../../assets//img/service/dark_bg_img.jpg");
  width: 100%;
  height: 100%;
  background-size: 110% 100%;
  position: relative;
}
.process-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2e66a19a;
  position: absolute;
}

.productBg{
  background-color: #f3f3f3;
  border-radius: 5px;
}


@media only screen and (max-width: 425px) {
  .services-row{
    margin-left: 10px;
  }
  .icon{
    text-align: center;
  }
}

@media only screen and (max-width: 525px) and(min-width:768px) {
  .main_heading h2{
    /* font-size: calc(1rem + .9vw); */
    font-size: 10px !important;
  }
  .services-row{
    margin-left: 0;
  }
}